section {
    padding: 20px;
    margin: 10px 400px;
    border: 1px solid black;
    width: 700px;
    align-content: center;
    
}
#intro {
    background-color: #f9f9f9;

}

.heading1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    
}
#image{

}
.image {
    border: 2px solid #f6f3f3; /* Initial border color */
    padding: 20px;
    width: fit-content;  /* Ensures the image fits its container */
    height: auto; 
    transition: border-color 0.3s; /* Smooth transition for the border color */
}

/* Hover effect to change the border color */
.image:hover {
    border-color: #3498db; /* New border color on hover */
}